@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Back-end menu item</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <!-- Shell -->
    @Html.Raw(ClientResources.RenderResources("ShellCore"))
    @Html.Raw(ClientResources.RenderResources("ShellWidgets"))

    <!-- LightTheme -->
    @Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))

    <!-- Dojo Dashboard -->
    @Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility", new[] { ClientResourceType.Style }))

</head>
<body>
    @Html.Raw(Html.ShellInitializationScript())
    @Html.Raw(Html.CreatePlatformNavigationMenu())
    <div @Html.Raw(Html.ApplyPlatformNavigation())>
        <p>Hello and welcome to this custom menu item</p>
    </div>
</body>
</html>